node_modules
/dist

!/dist/index.core.js
!/dist/index.core.js.map
!/dist/index.ui.js
!/dist/index.ui.js.map

docs/Gemfile.lock
docs/_site/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

.idea
