*[data-filter-color="red"] {
  background-color: #db4437;
}

*[data-filter-color="green"] {
  background-color: #0f9d58;
}

*[data-filter-color="blue"] {
  background-color: #4285f4;
}

*[data-filter-size="xs"] {
  width: 24px;
  height: 24px;
}

*[data-filter-size="small"] {
  width: 48px;
  height: 48px;
}

*[data-filter-size="medium"] {
  width: 64px;
  height: 64px;
}

*[data-filter-size="large"] {
  width: 80px;
  height: 80px;
}

*[data-filter-size="xl"] {
  width: 96px;
  height: 96px;
}

*[data-group-name="color"]:before {
  content: 'Color';
}

*[data-group-name="size"]:before {
  content: 'Size';
}
