@import "attributes";

html, body {
  font-family: 'Roboto', serif;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 24px 0;
  padding: 0;
}

#filtering {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  gap: 24px;
  user-select: none;

  .filtering-group {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 6px;
  }

  .filtering-group-header {
    align-self: flex-start;
    margin-top: -10px;
    margin-left: 8px;
    background-color: white;
    color: lightgray;
    font-size: 15px;
  }

  .filtering-filter {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 3px 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #eeeeee;
    }

    &.enabled {
      background-color: #ccf9ff;
      transform: scale(1.1);
    }

    &.disabled {
      color: #a4a4a4;
    }

    &.disabled:hover {
      background-color: transparent;
    }
  }
}

#items {
  display: flex;
  justify-content: center;

  .filtering-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 12px;
    color: white;
    transition: all 0.5s ease-in-out;

    &.filtering-item.filtered {
      width: 0;
      margin-left: 0;
      margin-right: 0;
      border: 0;
      opacity: 0;
    }
  }
}
