.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gap {
    gap: 24px;
}

.stretch {
    align-items: stretch;
}

.filtering-group {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 6px;
    min-width: 100px;
    margin-bottom: 8px;
}

.filtering-group[data-group-name]:before {
    align-self: flex-start;
    margin-top: -10px;
    margin-left: 8px;
    background-color: white;
    color: lightgrey;
    font-size: 15px;
}

.filtering-group[data-group-name="color"]:before {
    content: 'Color';
}

.filtering-group[data-group-name="size"]:before {
    content: 'Size';
}

.filtering-filter {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 3px 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.filtering-filter:hover {
    background-color: #eeeeee;
}

.filtering-filter.checked {
    background-color: #ccf9ff;
    transform: scale(1.1);
}

.filtering-filter.disabled {
    color: #a4a4a4;
}

.filtering-filter.disabled:hover {
    background-color: transparent;
}

.filtering-filter[data-filter-type="all"] {
    border-top: 1px solid lightgrey;
}

.filtering-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 12px;
    color: white;
    transition: all 0.5s ease-in-out;
    width: 48px;
    height: 48px;
}

.filtering-item.filtering-item.filtered {
    width: 0;
    margin-left: 0;
    margin-right: 0;
    border: 0;
    opacity: 0;
}

.filtering-item[data-filter-color="red"] {
    background-color: #db4437;
}

.filtering-item[data-filter-color="green"] {
    background-color: #0f9d58;
}

.filtering-item[data-filter-color="blue"] {
    background-color: #4285f4;
}

.filtering-item[data-filter-size="xs"] {
    width: 24px;
    height: 24px;
}

.filtering-item[data-filter-size="small"] {
    width: 48px;
    height: 48px;
}

.filtering-item[data-filter-size="medium"] {
    width: 64px;
    height: 64px;
}

.filtering-item[data-filter-size="large"] {
    width: 80px;
    height: 80px;
}

.filtering-item[data-filter-size="xl"] {
    width: 96px;
    height: 96px;
}
